.NavBar-Top {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    padding: 6px;
}

.NavBar-Middle {
    font-size: 5px;
    background-color: #a6a6a6;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    flex: wrap;
    justify-content: space-between;
    margin-bottom: 150px;
    border-top: solid black 1px
}

.NavBar-Sections {
    font-family: 'Indie Flower';
    font-size: 17px;
    font-weight: 500;
    color: aliceblue;
    background-color: #58617396;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
    list-style: none;
    display: flex;
    padding: 15px;
    justify-content: space-between;
    box-shadow: -1px 29px 33px 4px rgba(0, 0, 0, 0.62);
    -webkit-box-shadow: -1px 29px 33px 4px rgba(0, 0, 0, 0.62);
    -moz-box-shadow: -1px 29px 33px 4px rgba(0, 0, 0, 0.62);

}


.Main-Logo {
    width: 30%;
}

